* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu-container {
    color: black;
    background-color: lightpink;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.menu {
    border: 1px solid black;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.group {
    display: flex;
}
.login {
    margin-left: 30px;
}

.item1 {
    background-color: rgb(0, 140, 255);
    /* margin: 20px; */
    padding: 20px;
    font-size: 30px;
}
.item2 {
    background-color: rgb(0, 255, 157);
    /* margin: 20px; */
    padding: 20px;
    font-size: 30px;
}

.header-container {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
}

.header{
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    /* align-items: stretch; */
    /* align-items: flex-start; */
    align-items: baseline;
}

/* .subLogo{
    font-size:50px;
} */
