$b: 'border';
$c: 'color';

h2 {
    // box-sizing: border-box;
    // border: 2px solid red;
    // background-color: blue;

    box-sizing: #{$b}-box;
    #{$b}: 2px solid red;
    background-#{$c}: blue;
}
