

p {
    font-size: 30px;
    padding: 10px;
}

//--------------------------------------------------------------
//For loop
// @for $var from start to end {
// }

//Color Map 
$colors: (
    1: red,
    2: blue,
    3: green,
    4: yellow,
    5: orange,
);

// @for $i from 1 to 6 {
//   .paragraph-#{$i}{
//     background-color: map-get($map: $colors, $key: $i );
//   }
// }

@for $i from 1 through 5 {
  .paragraph-#{$i}{
    background-color: map-get($map: $colors, $key: $i );
  }
}



//--------------------------------------------------------------
// Each loop
// @each $var in list {
// }

//Color List
$eachColors: red green blue gray yellow;

// @each $color in $eachColors {
//   .paragraph-#{$color}{
//     background-color: $color;
//   }
// }


//--------------------------------------------------------------
//if else
// @if(){
// }@else if(){
// }@else{
// }


// @each $color in $eachColors {
//   .paragraph-#{$color}{
//     @if ($color == green) {
//       background-color: pink;
//     }@else{
//       background-color: $color;
//     }
//   }
// }

@each $color in $eachColors {
    .paragraph-#{$color} {
        @if ($color == green) {
            background-color: purple;
        } @else if($color == yellow) {
            background-color: red;
        } @else {
            background-color: $color;
        }
    }
}
