@import"test";


$color-primary: aqua;
$color-secondary: gray;
$color-tertiary: red;

$font-size-lg: 40px;
$font-size-md: 30px;
$font-size-sm: 20px;

// @function doubleFontSize ($fontSize){
//     @return $fontSize * 2;
// }
@function doubleFontSize ($fontSize:10px){
    @return $fontSize * 2;
}



body {
    direction: rtl;
}

.nav {
    // background-color: $color-primary;

    // background-color: lighten($color: $color-primary, $amount: 30%);
    // background-color: lighten($color-primary,30%);

    // background-color: darken($color: $color-primary, $amount: 40%);
    // background-color: darken($color-primary, 40%);

    // background-color: transparentize($color: $color-primary, $amount: 0.6);
    // background-color: transparentize($color-primary, 0.6);

    // background-color: mix($color-primary,$color-tertiary, 80%);

    ul li {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: $color-secondary;
        font-size: $font-size-sm;

        &:hover {
            color: $color-tertiary;
            font-size: $font-size-md;
        }
    }
}

// .heading {
//     color: $color-secondary;
//     text-align: center;
//     font-size: $font-size-lg;
// }

// Create Placeholder selector 
%heading {
    color: $color-secondary;
    text-align: center;
    font-size: $font-size-lg;
}


h1 {
    // @extend .heading;

    // Use Placeholder selector 
    @extend %heading;

    &:hover{
        background-color: red
    }
}

.footer h3 {
    @extend h1;
}

.banner p{
    // font-size: doubleFontSize(30px);
    // font-size: doubleFontSize($font-size-sm);

    font-size: doubleFontSize();
}