.grid-container {
    display: grid;

    /* width: 750px;
    grid-template-columns: 150px 1fr 5fr; */

    width: 100%;
    grid-template-columns: 100px 30% 2fr 1fr;
    grid-template-rows: 100px 200px;

    background-color: skyblue;
    padding: 20px;
}

.grid-item {
    background-color: salmon;
    border: 1px solid black;
    font-size: 25px;
    text-align: center;
    padding: 25px;
}


