*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container{
    background-color: aqua;
    display: flex;


    /* Flex-Wrap  */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */

    /* Flex-Direction */
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */

    flex-flow: wrap row;
}

.flex-container > div{
    background-color: bisque;
    margin: 20px;
    padding: 30px;
    font-size: 20px;
}