.flex-container {
    display: flex;
    width: 1000px;
    border: 10px solid black;
}
.flex-item {
    height: 200px;
    /* flex-basis: 200px; */

    /* width: 200px; */
    /* min-width: 100px; */

    /* max-width: 100px; */

    flex: 0 1 200px;
}
.red {
    background-color: red;
}
.yellow {
    background-color: gold;
}
.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
